.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 25px;
  color: #fff;
}

.search-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 70px;
  height: 5vh;
}

.link {
  text-decoration: none;
  color: rgb(112, 112, 218);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-btn {
  background: #333;
  border: none;
  padding: 8px 15px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.nav-btn:hover {
  background: #555;
}
